*{  
    margin: 0vb 0vb 0vb 0vb;
    padding: 0vb 0vb 0vb 0vb;
    font-family: "Nunito", system-ui, -apple-system, "Segoe UI", Roboto, Helvetica, Arial, "Noto Sans", "Liberation Sans", sans-serif;
}
/* ------------------ Header Section ------------------ */
.account-header {
    background-color: #f5f5f5;
    text-align: center;
    padding: 4vb 0 2vb 0;
}

.account-header h1 {
    font-size: 2.3vw;
    font-weight: 700;
    color: #1a1a1a;
    margin-bottom: 0.4vb;
}

.account-header p a {
    color: #000;
    text-decoration: none;
    font-weight: 400;
    transition: 0.3s;
}

.account-header p a:hover {
    color: #87da48;
}
/* ---------- CREATE ACCOUNT SECTION ---------- */
.login-section {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20vb 1.85vb 20vb 1.85vb;
    background-color: #ffffff;
}

.login-box {
    background-color: #ffffff;
    border: 0.093vb solid #e2e2e2;
    border-radius: 0.74vb;
    max-width: 50.93vb;
    width: 100%;
    text-align: center;
    padding: 4.9vb 3.5vb;
    box-shadow: 0vb 0vb 1.39vb rgba(0, 0, 0, 0.08);
    transform: scale(1.5);
}

.login-box h2 {
    font-size: 3vb;
    font-weight: 700;
    margin-bottom: 3.24vb;
    color: #1a1a1a;
}

/* ---------- FORM ---------- */
.login-form {
    display: flex;
    flex-direction: column;
    gap: 1.85vb;
}

.login-form input {
    padding: 1.3vb;
    border: 0.093vb solid #ccc;
    border-radius: 2.78vb;
    outline: none;
    font-size: 1.39vb;
}

.login-form input:focus {
    border-color: #87da48;
}

/* ---------- BUTTON ---------- */
.login-btn {
    background-color: #87da48;
    color: #fff;
    border: none;
    border-radius: 2.78vb;
    padding: 1.3vb;
    font-size: 1.48vb;
    font-weight: 600;
    cursor: pointer;
    transition: 0.3s;
}

.login-btn:hover {
    background-color: #555;
}

/* ---------- BOTTOM LINK ---------- */
.has-account {
    font-size: 1.3vb;
    margin-top: 2.31vb;
    color: #555;
}

.has-account a {
    color: #000;
    text-decoration: underline;
    font-weight: 500;
    transition: 0.3s;
}

.has-account a:hover {
    color: #87da48;
}
.register-message {
  margin-top: 1.5rem;
  font-size: 1.1rem;
  font-weight: 600;
  text-align: center;
}

/* Password field wrapper */
.password-wrapper {
  position: relative;
  display: flex;
  align-items: center;
}

.password-wrapper input {
  width: 100%;
  padding-right: 2.8rem; /* leave space for the icon */
}

.toggle-password {
  position: absolute;
  right: 1rem;
  cursor: pointer;
  color: #888;
  transition: color 0.3s;
}

.toggle-password:hover {
  color: #87da48;
}
